@charset "utf-8";

body{
    width: 100%;
    height: 100%;
    background-color: #ededed;
    font-size: 16px;
    font-family: "Microsoft YaHei", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", serif;

}

.td-col-s{
    width:5%;
}

.td-col-l{
    width:20%;
}

.form-group{
    display: inline-block;
 }

.control-label{
    margin-top: 5px;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

.conMin{
    min-width: 700px;
}

.setPage{
    width: 550px;
    margin:0 auto;
}