<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <link rel="stylesheet" href="../css/bootstrap-3.3.7/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/login.css">
    <script type="text/javascript" src="../js/lib/jquery/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            setCode();
            $("#inCode").click(function () {
                setCode();
            });

            $("#btnLog").click(function () {
                var username = $('#inputUsername').val();
                var password = $('#inputPassword').val();
                if (username === '' || password === '') {
                    alert("输入为空，请重新输入!")
                } else {
                    $.ajax({
                        type: 'post',
                        url: '/api/user/loginValid',
                        data: {username: username, password: password},
                        dataType: 'json',
                        success: function (res) {
                            if (res.result) {
                                sessionStorage.setItem("key", username);
                                location.href = "index.tpl.html";
                            } else {
                                $("#inputP").html(res.msg);
                            }

                        }
                    });
                }
            })

        });


        function creatCode(codeNum) {
            var code = "";
            var arryCode = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
            for (var i = 0; i < codeNum; i++) {
                var charAt = Math.floor(Math.random() * 62);
                code += arryCode[charAt];
            }
            return code;
        }

        function setCode() {
            var testCode = creatCode(6);
            $("#inCode").html(testCode);
        }
    </script>
</head>
<body>
<div>
    <img src="../image/logo.png">
</div>
<div class="login-size">
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputUsername" class="col-xs-3 control-label">用户名:</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="inputUsername" placeholder="用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-xs-3 control-label">密码:</label>
                <div class="col-xs-6">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-xs-3 control-label">验证码:</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="请输入验证码">
                    <div id="inCode"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-6 controls">
                    <button type="button" class="btn btn-default" id="btnLog">登录</button>
                    <span id="inputP"></span>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>